body{
	margin: 36px auto;
	width: 90%;
        font-family: baskerville;
        background-color: lightgoldenrodyellow;
        text-align: center;
}

#page{
	margin: 0 auto 53px;
	width: 93.75%; /* 900px / 960px */
	border: 1px solid black;
	border-radius: 15px;
}

/* header section */
header h1 {
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
        font-family: american typewriter;
        font-weight: bold;
        text-align: center;
        
}


/* nav section */
nav ol {
	padding-left: 5.33333333%;  /* 48px / 900px */
}
nav ol li{
	display: inline;
	list-style-type: none;
	padding-right: 3em;
}

nav{
        font-family: baskerville;
        text-transform: capitalize;
        font-size: 16px;
        
}

h1{
    font-family: american typewriter;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 48px;
}

h2{
    font-family: baskerville;
    text-transform: capitalize;
    
}

p{
    font-family: baskerville;
}
/* article section */
/* un comment and see what happens */
/*
article{
	height: 200px;
	overflow: auto;
}
*/

article h1, article p {
 padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}


article body{
    text-align: center;
}

/* aside section */
aside {
	margin: 0 auto;
	width: 69.7885196%; /* 231px / 331px */
}
aside h2, aside p{
 padding: .2em 8.48056537% .2em 8.48056537%; /* 48px / 566px */
}

/* footer section */
footer{
	clear: both;
	background-color: lightgrey;
	border-bottom-right-radius:015px;
	border-bottom-left-radius:015px;
	padding: 0.8em 5.33333333%;  /* 48px / 900px */
}

aside li {
    padding-bottom: 2%;
}


/* setting the design to be 900px wide 
   with two columns. 
*/

body{
    max-width: 900px;
}

#main{
	float: left;
	width: 62.8888889%; /* 566px / 900px */
    }

    #other{
	float: left;
	width: 36.7777778%; /* 331px / 900px */
    }


    
    
/* make it responvive */




/* i am not crazy about this but i make each column the same size */
@media screen and (max-width:850px){
    
    #main{
	float: left;
	width: 50%; 
    }

    #other{
	float: left;
	width: 50%; 
    }

}

@media screen and (max-width: 530px){
    #main{
	float: left;
	width: 100%; 
    }

    #other{
	float: none;
        clear: both;
	width: 100%;
    }
    
}

.mistake {
    color: #fff;
    background-color:#800;
    border: thin solid #000;
}

#errors ol li{
    color: darkred;
}

